.hook-info-list {
  margin: 10px 0;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  border: 1px solid #ddd;
}
.hook-info-list .details {
  display: none;
  padding: 10px;
  float: left;
  width: 100%;
  box-sizing: border-box;
}
.hook-info-list h2 {
  margin: 0 10px;
  padding: 10px;
  cursor: pointer;
}
.hook-info-list h2.active {
  border-bottom: 1px solid #ddd;
}
